.Home_Patient{
    width: 100%;
    height: 100%;
    
    
    .infomation{
        width: 300px;
        height: 200px;
        margin: auto;
        border: 1px solid blue;
        padding: 5px;
        
        text-align: center;
        img{
            height: 80px;
        }
    }
}